@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Monitoramento de Trânsito</h1>
</div>
<style>
    p, h1, i {
        text-align-last: center;
    }
</style>

<div class="card">
    <div class="card-header">
        <div style="opacity:0.3">Trecho</div>
        <h3>Av Bonocô 001</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <p style="opacity:0.3">Velocidade Média</p>
                <h1>65km</h1>
                <h1><i class='fas fa-tachometer-alt'></i></h1>
            </div>
            <div class="col-4">
                <p style="opacity:0.3">Tempo Médio</p>
                <h1>13min</h1>
                <h1><i class='fas fa-stopwatch'></i></h1>
            </div>
            <div class="col-4">
                <p style="opacity:0.3">Quantidade de Veículos</p>
                <h1>25</h1>
                <h1><i class='fas fa-calculator'></i></h1>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div style="opacity:0.3">Trecho</div>
        <h3>Senador Medrado 001</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <p style="opacity:0.3">Velocidade Média</p>
                <h1>35km</h1>
                <h1><i class='fas fa-tachometer-alt'></i></h1>
            </div>
            <div class="col-4">
                <p style="opacity:0.3">Tempo Médio</p>
                <h1>22min</h1>
                <h1><i class='fas fa-stopwatch'></i></h1>
            </div>
            <div class="col-4">
                <p style="opacity:0.3">Quantidade de Veículos</p>
                <h1>65</h1>
                <h1><i class='fas fa-calculator'></i></h1>
            </div>
        </div>
    </div>
</div>
