@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Excluir Trecho</h2>

<div>
    @using (Html.BeginForm("Delete", null, FormMethod.Post))
    {
        @Html.Partial("_Form")
    }
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $("#botaoSubmit").prop("value", "Excluir Trecho");
            $('Form input').attr('readonly', 'readonly');
            $('Form select').attr('disabled', 'disabled');
        });
    </script>

}